probabilidad/bin/
probabilidad/include/
probabilidad/lib/
distribuidos/bin/
distribuidos/include/
distribuidos/lib/
distribuidos/comunicacion_indirecta/messages.txt
probabilidad/clasifiers/.ipynb_checkpoints/
probabilidad/clasifiers/Pipfile
probabilidad/clasifiers/classifiers-3283714-2605317-3268344.zip
tags
inteligencia_artificial/.python-version
inteligencia_artificial/__pycache__
